/* http://www.dafont.com/pt/equestria.font */

@font-face {
    font-family: equestria;
    src: url(../../contents/fonts/equestria.otf);
}

body {
    background: #e6e6e6;
}

h1 {
    text-align: center;
    font-family: equestria;
    font-size: 35pt;
}
h1, h2 {
  font-family: equestria;
}

#ponylist {
    margin: auto;
    height: 400px;
    overflow-y: scroll;
}
